form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

  /*other css style from instrcution*/
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

/* copy and past rivers all styles */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body {
  font-family: 'Roboto', Arial, sans-serif;
  
}

.home-title,
.msg h2 {
  font-family: 'Rock Salt', cursive;
  
}

  #content {
    max-width: 1600px;
    margin: 0 auto;

  }
  #logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
  }
  nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
  }
  
  #hero-msg h1,
  #hero-msg h4 {
    text-align: center;
  }
  
  .button-box {
    text-align: center;
  }
  
  main section {
    text-align: center;
  }
  #background {
    height: 725px;
    background-color: #E6E6E6;
    grid-column: 1/11;
    grid-row: 4/9;
  }
  body {
    background-color: #99564f;
  }
  header {
    background-color: rgba(243, 149, 78, 0.7);
  }
  nav a:hover {
    background-color: #657C8A;
    color: #FFFFFF;
  }
  .home-title {
    color: #FFFFFF;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
  }
  h4 {
    color: #F3954E;
  }  
  .book, .join {
    background-color: #F3954E;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
  }
  .book:hover, .join:hover {
    background-color: #49586B;
    color: #FFFFFF;
    padding: 15px 30px;
  }
  .msg {
    background-color: #F2F2F2;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black;
}
  
  footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items:center;
  }
  .msg h2 {
    color: #333333;
  }
  .msg p {
    color: #333333;
    font-size: 0.8em;
    padding-bottom: 15px;
  }  
  footer a {
    color: #FFFFFF;
  }
  footer p {
    
    font-size: 1.2em;
  }
  footer a:hover {
    color: #F2F2F2;
  }
  footer p a:hover {
    text-decoration: underline;
  }
  .logo,
.icon {
  width: 80px;
  padding-top: 10px;
}

#hero-img {
  width: 100%;
}
body {
  background-color: #fcfbfb;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}
footer .social img {
  padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card, .others-card {
  margin: 200px 0;
}
.card-img {
  border: 10px solid #F3954E;
  width:100%;
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px black;
}

main section img {
  box-sizing: border-box;
}
header {
  display: grid;
  grid-template-columns: 150px auto;
}
nav {
  display: flex;
  justify-content: space-around;
}
#hero{
  display: grid ;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top:-100px;
}
#hero-box{
  grid-column:1/4;
  grid-row:1/3;
  z-index:-1;
}
#hero-msg{
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top:100px;
}
#hero-msg h1{
  color: #F3954E;
}
.home-grid{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.mountains{
  width:100%;
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px black;
}
.rivers-card{
  grid-column: 2/4;
  grid-row: 2/3;
}
.camping-card{
  grid-column: 5/7;
  grid-row:2/3;
}
.rapids-card{
  grid-column: 8/10;
  grid-row: 2/3;
}
/*.others-card{
  grid-column: 11/13;
  grid-row: 2/3;
}*/
.card-img:hover{
  opacity:0.6;
  transform:scale(1.1);
}
@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: #6f7364;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
}

/* rivers css style---------------------- */

.logo2{
  padding-top: 5px;
    justify-self: center;
    align-self: center;
    border-radius: 70px;
    width: 80px;
    
}

#hero-img2 {
  width: 100%;
  height: 100%;
}
.book{
  height: 50px;
}
#hero2{
  margin-top: 0;
  
    display: grid ;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top:-100px;
}
#hero-msg2{
  margin-top: 0;
} 
  #hero-msg2 h1,
  #hero-msg2 h4 {
    text-align: center;
    color: #F3954E;
  }
  .button-box {
    text-align: center;
  }
  #hero-box2{
    grid-column:1/4;
    grid-row:1/3;
    z-index:-1;
  }
  #hero-msg2{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top:100px;
  }
  .rivers-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-img2{
    grid-column: 1/2;
  }
 
  .camping-card2{
    grid-column: 1/2;
    grid-row:3/5;
  }
  .background2{
    display:grid;
    grid-template-columns: repeat(10, 1fr);
  }
  .water-card{
    grid-column: 2/4;
    grid-row: 2/3;;
  }
  .tree-card{
  grid-column: 5/7;
  grid-row:2/3;
  }
  .rapid-card{
    grid-column: 8/10;
  grid-row: 2/3;
  }
  .rivers-text{
    border: 2px solid black;
    grid-column: 2/3;
    width: 80%;
    height: 150px;
    margin-top: 100px;
    margin-right: 50px;
    font-family: 'Rock Salt', cursive;
  }
  .rivers-text p{
    font-size: 15px;
  }
  .rivers-card2{
    grid-column: 1/2;
    margin-top: 100px;
    margin-left: 50px;
    width: 500px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black ;
    transition: transform 0.5s;
    
  }
  .rivers-title{
    font-family: 'Rock Salt', cursive;
  }
  .rivers-card2:hover{
    opacity:0.6;
    transform: scale(1.1);
  }

  @media screen and (max-width: 900px) {
    #hero2, .rivers-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero2 {
        margin-top: 0;
    }
    #hero-msg2 {
        margin-top: 0;
    }
    #hero-msg2 h4 {
        display: none;
    }
    .rivers-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card2, .rivers-text { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
  }
  