
  #content {
    max-width: 1600px;
    margin: 0 auto;

  }
  nav a {
    text-align: center;
    color: #d9c2a3;
    text-decoration: none;

  }
  
  #hero-msg h1,
  #hero-msg h4 {
    text-align: center;
  }
  
  .button-box {
    text-align: center;
  }
  
  main section {
    text-align: center;
  }
  #background {
    height: 725px;
    background-color: #E6E6E6;
  }
  body {
    background-color: #99564f;
  }
  header {
    background-color: rgba(243, 149, 78, 0.7);
  }
  nav a:hover {
    background-color: #657C8A;
    color: #FFFFFF;
  }
  .home-title {
    color: #FFFFFF;
  }
  h4 {
    color: #F3954E;
  }  
  .book, .join {
    background-color: #F3954E;
    color: #FFFFFF;
    text-decoration: none;
    
  }
  .book:hover, .join:hover {
    background-color: #49586B;
    color: #FFFFFF;
  }
  .msg {
    background-color: #F2F2F2;
  }
  
  footer {
    background-color: #333333;
    color: #FFFFFF;

  }
  .msg h2 {
    color: #333333;
  }
  .msg p {
    color: #333333;
  }  
  footer a {
    color: #FFFFFF;
  }
  footer p {
    
    font-size: 1.2em;
  }
  footer a:hover {
    color: #F2F2F2;
  }
  footer p a:hover {
    text-decoration: underline;
  }
  .logo,
.icon {
  width: 80px;
}

#hero-img {
  width: 100%;
}
